.PetDetails {
    margin-bottom: 60px;
    width: 100vw;
}

#CreateVisitButton {
    background-color: rgb(76, 156, 132);
    border-radius: 4px;
    border: none;
}

#UpdatePetButton {
    background-color: rgb(76, 156, 132);
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

.PetDetails select {
    margin-bottom: 8px;
}

#GoBackButton {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(76, 156, 132);
    border-radius: 4px;
    border: none;
    z-index: 0;
    opacity: 70%;
    margin: 0;
    width: max-content;
}