.LoginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    width: max-content;
    padding: 30px;
}

.LoginForm input {
    margin-bottom: 20px;
}

#LogInButton {
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    width: 100%;
}