.MainPage {
    margin-bottom: 65px;
    width: 99vw;
}

.MainPage select {
    margin-bottom: 8px;
}

#LogOutButton {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border: none;
    z-index: 1;
    margin: 0;
    opacity: 90%;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

#CreatePetButton {
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.219);
}

.PetsList .createPetContainer {
    height: fit-content;
}

.PetsList .card {
    max-height: 49vh;
}

.PetsList .card table thead th  {
    position: sticky;
    top: 0;
}

.VisitsList .card {
    max-height: 40vh;
}

.VisitsList .card table thead th  {
    position: sticky;
    top: 0;
}